

.email-index {
    background-color: rgb(255, 255, 255);;
    display: grid;
    grid-template-columns:  1fr 2fr 1fr 1fr;
    grid-template-rows: auto 1fr ;
    grid-template-areas:
    "aside filter sort bar"
    "aside list list list";
    margin-left: 2px;
    gap: 5px;
    
}

.email-index .progress-bar{
    grid-area: bar;
    background-color: rgb(223, 242, 243);
    margin-left: 2px;
    margin-bottom: 5px;
   
}

.email-index .email-filter{
    grid-area: filter;
    
}

.email-index .email-list{
    grid-area: list;
    
}

.email-index .email-aside-menu{
    background-color:rgb(242, 242, 242);
    grid-area: aside;
}
.email-index .email-sort{
    grid-area: sort;
    background-color:rgb(242, 242, 242);
}

.email-index .email-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 400px;
    aspect-ratio: 1;
    top: -10%;
    position: fixed;
    inset: 0;
    top: -10%;
    margin: auto;
    box-shadow:
        0 0 0 100vmax rgba(0, 0, 0, 0.5),
        -3px 1px 28px #00000043;
    padding: 50px;
    background-color: rgb(236, 239, 236);
    border: solid 3px hsl(230, 100%, 85%);
    border-radius: 10px;
}
