*{
    transition: 5;
}

.email-aside-menu{
    font-weight: 600;
    padding-top: 50px;
    
}

.email-aside-menu .compose-area{
    display: flex;
    background-color: rgb(201, 222, 241);
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    max-width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    
}
.email-aside-menu .compose-area:hover{
    transition: 0.4;
    transform: scale(1.06);
}

.email-aside-menu a{
    font-size: x-large;
    text-decoration: none;

}