

.emaile-preview {
    /* background-color:aliceblue; */
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "star from subject date";
    /* justify-content:space-between; */
    border: solid 0.5px;
    align-items: center;
}


/* .emaile-preview a{
    display:flex;
    width: 600px;
    align-items: center;
   
} */

.emaile-preview button{
    grid-area: star;
    margin: 8px;
    padding: 0%;
    height: fit-content;
    
}

.emaile-preview .item1{
   grid-area: from;

}

.emaile-preview .item2{
    grid-area: subject;
    
}

.emaile-preview .item3{
    grid-area: date;
}

/* .emaile-preview .item4{
    max-inline-size: 100px;
    min-inline-size: 100px;
    justify-self: end;
}  */

.emaile-preview .actions{
    grid-area: date;
    display: flex;
    flex-direction: row;
    margin: 2px;
}

.emaile-preview .actions button{
margin: 2px;
}

.read {
    background-color: #c9def1;
    opacity: 60%;
}

.unread {
    background-color:rgb(255, 255, 255); ;
}