

.email-filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    background-color: rgb(223, 242, 243);
    
}

.email-filter section{
    margin: 5px;
}