

.emaile-preview {
    /* background-color:aliceblue; */
    display: grid;
    grid-template-columns: auto 1fr 2fr auto;
    grid-template-rows: auto;
    grid-template-areas:
    "star from subject date";
    /* justify-content:space-between; */
    border:none;
    align-items: center;
    border-bottom: solid 0.01px;
    border-color: rgb(197, 197, 197);
}


/* .emaile-preview a{
    display:flex;
    width: 600px;
    align-items: center;
   
} */
.emaile-preview a:hover{
    text-decoration: none;
}
.emaile-preview button{
    grid-area: star;
    margin: 8px;
    padding: 0%;
    height: fit-content;
    background-color: transparent;
    border: none;
    font-size: large;
    margin-right: 12px;
    
}

.emaile-preview .item1{
   grid-area: from;

}

.emaile-preview .item2{
    grid-area: subject;
    
}

.emaile-preview .item3{
    grid-area: date;
    margin-right: 10px;
}


.emaile-preview .actions{
    grid-area: date;
    display: flex;
    flex-direction: row;
    margin: 2px;
    
}

.emaile-preview .actions button{
   margin: 2px;
   margin-right: 10px;
   padding: 4px;
   border-radius: 50%;
   
}

.emaile-preview .actions button:hover{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    border-radius: 50%;
    transition: 0.6;
    background-color:#c9def1;
}

.read {
    background-color: #c9def1;
    opacity: 60%;
}

.unread {
    background-color:rgb(255, 255, 255); ;
}